<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="core.css">
    <link rel="icon" href="./assets/icon/logo.svg">
    <title>Document</title>
</head>
<body>
    <header>
            <section class="header wrapper">
                <div class="header-menu">
                    <a href="./index.html">
                        <div class="title-eatly">
                            <img src="./assets/icon/logo.svg">
                            <span class="title">eatly</span>
                        </div>
                    </a>
                    <nav class="nav-menu">
                        <ul>
                            <li><a href="">Menu</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Pricing</a></li>
                            <li><a href="./html/menu.html">Contact</a></li>
                        </ul>
                    </nav>
                   
                    <div class="entrance">
                        <div class="btn-login"><a href="" class="link-login">Login</a></div>
                        <a href=""><div class="btn-sign_up">Sign Up</div></a>
                    </div>
                    <div class="hamburger-menu">
                        <!-- Иконка гамбургера -->
                        <div class="hamburger" id="hamburger">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                        <!-- Выпадающее меню -->
                        <div class="dropdown-menu" id="dropdownMenu">
                            <ul>
                                <li><a href="">Menu</a></li>
                                <li><a href="">Blog</a></li>
                                <li><a href="">Pricing</a></li>
                                <li><a href="./html/menu.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
    </header>